@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}

/* Animação Fade-in */
@keyframes fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out;
}

/* Animação Slide-left */
@keyframes slide-left {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(0);
  }
}

.animate-slide-left {
  animation: slide-left 1s ease-out;
}

/* Animação Slide-right */
@keyframes slide-right {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}

.animate-slide-right {
  animation: slide-right 1s ease-out;
}

/* Animação Zoom-in */
@keyframes zoom-in {
  from {
      transform: scale(0);
      opacity: 0;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}

.animate-zoom-in {
  animation: zoom-in 1s ease-out;
}